# write a program to calculate ramesh gross salary

In [2]:
try:
    basic_salary=eval(input("Ramesh basic salary is"))
    DA=(40/100)*basic_salary
    print("DA is {} ".format(DA))
    rent_allowance=(20/100)*basic_salary
    print("rent_allowance is {} ".format(rent_allowance))
    gross_salary=basic_salary+DA+rent_allowance
    print("Ramesh gross_salary is {} ".format(gross_salary))
    
except Exception as salary:
    print(salary)

Ramesh basic salary is20000
DA is 8000.0
rent_allowance is 4000.0
Ramesh gross_salary is 32000.0

# write a program to convert km to meters,feet,inches,centimeters

In [4]:
try:
    distance=eval(input("The distance between two cities in km is"))
    print("the conversion of {} km to meters is : {}".format(distance,distance*1000))
    print("the conversion of {} km to centimeters is: {}".format(distance,distance*100000))
    print("the conversion of {} km to feet is :{}".format(distance,distance*3280))
    print("the conversion of {} km to inches is :{}".format(distance,distance*39370))
    
except Exception as km:
    print(km)

The distance between two cities in km is5
the conversion of 5 km to meters is : 5000
the conversion of 5 km to centimeters is: 500000
the conversion of 5 km to feet is :16400
the conversion of 5 km to inches is :196850

# write a program to find out aggregate marks and percentage marks obtained by  a student in 5 different subjects

In [6]:
try:
    subject1=eval(input("enter subject1 marks:"))
    subject2=eval(input("enter subject2 marks:"))
    subject3=eval(input("enter subject3 marks:"))
    subject4=eval(input("enter subject4 marks:"))
    subject5=eval(input("enter subject5 marks:"))
    aggregate=subject1+subject2+subject3+subject4+subject5
    print("the aggregate marks obtained by student in 5 subjects is: {} ".format(aggregate))
    percentage=(aggregate/500)*100
    print("the percentage marks  obtained by student in 5 subjects is: {} ".format(percentage))
    
except Exception as marks:
    print(marks)

enter subject1 marks:91
enter subject2 marks:88
enter subject3 marks:94
enter subject4 marks:96
enter subject5 marks:90
the aggregate marks obtained by student in 5 subjects is: 459
the percentage marks  obtained by student in 5 subjects is: 91.8

# write a program to convert temperature fahernheit into centigrade degrees

In [8]:
try:
    temperature=eval(input("temperature of a city in fahrenheit is :"))
    centigrade_degree=((temperature-32)*5)/9
    print("the city temperature in centigrade degrees is : {}".format(centigrade_degree))
    
except Exception as degree:
    print(degree)

temperature of a city in fahrenheit is :78
the city temperature in centigrade degrees is : 25.555555555555557

# write a program to calculate the area&perimeter of rectangle,and the area and circumference of the circle

In [4]:
try:
    length1=eval(input("enter the length of rectangle"))
    breadth1=eval(input("enter the breadth of the rectangle"))
    radius1=eval(input("enter the radius of the circle"))
    area_rectangle1=length1*breadth1
    print("the area of a rectangle is : {} ".format(area_rectangle1))
    perimeter1=2*(length1+breadth1)
    print("the perimeter of a rectangle is : {}  ".format(perimeter1))
    area_circle1=(22/7)*(radius1*radius1)
    print("the area of the circle is : {} ".format(area_circle1))
    circumference1=2*(22/7)*radius1
    print("the circumference of the circle is : {} ".format(circumference1))
    
except Exception as rect:
    print(rect)

enter the length of rectangle4
enter the breadth of the rectangle2
enter the radius of the circle3
the area of a rectangle is : 8
the perimeter of a rectangle is : 12
the area of the circle is : 28.285714285714285
the circumference of the circle is : 18.857142857142858

# write a program to interchange the content of theC and D

In [6]:
try:
    C=input("enter content1:")
    D=input("enter content 2:")
    print("the content of C is {} and D is {} ".format(C,D))
    E=C
    C=D
    D=E
    print("the content after interchange")
    print("content of C is {} ".format(C))
    print("content of D is {} ".format(D))
    
except Exception as content:
    print(content)

enter content1:rani
enter content 2:daya
the content of C is rani and D is daya
the content after interchange
content of C is daya
content of D is rani

# write a program to reverse the number

In [7]:
try:
    num=eval(input("enter a 5 digit number"))
    print("5 digit number is {} ".format(num))
    num1=num%10
    print("number is{}".format(num1))
    num2=num//10
    print("number is {}".format(num2))
    num3=num2%10
    print("number is {}".format(num3))
    num4=num2//10
    print("number is {} ".format(num4))
    num5=num4%10
    print("number is {} ".format(num5))
    num6=num4//10
    print("number is {} ".format(num6))
    num7=num6%10
    print("number is {} ".format(num7))
    num8=num6//10
    print("number is ".format(num8))
    print("reverse of number is")
    print(num1,end='')
    print(num3,end='')
    print(num5,end='')
    print(num7,end='')
    print(num8)
except Exception as rev:
    print(rev)

enter a 5 digit number12345
5 digit number is 12345
number is5
number is 1234
number is 4
number is 123
number is 3
number is 12
number is 2
number is
reverse of number is
54321

# write a program obtain the sum of the first and last digit  of given number

In [8]:
try:
    num=eval(input("enter 4 digit number"))
    print("4 digit number is {} ".format(num))
    num1=num%10
num2=num//10
num3=num2%10
num4=num2//10
num5=num4%10
num6=num4//10
add=num1+num6
print("the sume of the first digit and last digit of given number is {} ".format(add))

enter 4 digit number1234
4 digit number is 1234
the sume of the first digit and last digit of given number is 5

# write a program to find the total number of illiterate men and women

In [5]:
try:
    total_population=80000
    men_population=(52/100)*total_population
    women_population=((100-52)/100)*total_population
    total_literacy=(48/100)*total_population
    print("total literracy is :",total_literacy)
    total_illiteracy=((100-48)/100)*total_population
    print("total illiteracy is {} ".format(total_illiteracy))
    men_literacy=(35/100)*total_literacy
    print("men literacy is :",men_literacy)
    men_illiteracy=men_population-men_literacy
    women_litercy=total_literacy-men_literacy
    women_illiteracy=total_illiteracy-men_illiteracy
    total_illiteracy1=men_illiteracy+women_illiteracy
    print("total illiteracy of men and women is {}".format(total_illiteracy1))
    
except Exception as total:
    print(total)

total literracy is : 38400.0
total illiteracy is 41600.0
men literacy is : 13440.0
total illiteracy of men and women is 41600.0

# write a program to find the total denomination the cashier will have to give to the withdrawer

In [1]:
 try:
        amt=eval(input("enter the amount in hundreds"))
        demon100=amt//100    #number of 100rs notes
        demon50=(amt%100)//50    #number of 50rs notes
        demon10=((amt%100)%50)//10  #number of 10rs notes
        left_amt=((amt%100)%50)%10  # remainder
        print("number of 100rs notes to be withdrawn  is {} ".format(demon100))
        print("number of 50rs notes to be withdrawn  is {} ".format(demon50))
        print("number of 10rs notes to be withdrawn  is {} ".format(demon10))
        print("left amount  is {} ".format(left_amt))
        
        
except Exception as denomination:
    print(denomination)

enter the amount in hundreds889
number of 100rs notes to be withdrawn  is 8
number of 50rs notes to be withdrawn  is 1
number of 10rs notes to be withdrawn  is 3
left amount  is 9