# Strings

# 1.how to read strings

# by using single quotes

In [3]:
string1='python'   #'python'- is a string data type 
                    #we assigned in string1 by using single quotes
string1

'python'

# by using double quotes

In [4]:
string2="python "  #we assigned string by using doble quotes
string2

'python'

# by using triple quotes -doc string

In [8]:
string3="""python"""     # we assigned string by using triple quotes
string3

'python'

In [7]:
string3="""python
           is a 
           programming
           language"""     # we assigned multiple lines of string  by using triple quotes that is called doc string 
                         #doc string  gives information about written code
string3

'python\n           is a \n           programming\n           language'

# 2.Type

In [9]:
string1='python'      #we assigned string data type 'python' in string1 
type(string1)          # here we are finding data  type of given string that is ,is that str,int etc

str

In [10]:
string1=10          #we assigned integer 
type(string1)       #  here we get int type

int

# 3.Max

In [11]:
string1='python'   
max(string1)       #we are finding maximum of string1 ,so we get 'y', y is maximum according to asscii value

'y'

# 4.Min

In [12]:
string1='python'
min(string1)     # min() gives the letter ,which letter have loewst ascii value

'h'

In [2]:
str1='pP'        #we assigned both upper case and lower case letters
max(str1)        # 'p' is maximum according ascii value
min(str1)         # 'P'is minimum according ascii value

'P'

# 5.len

In [3]:
string1='python'
len(string1)      # len() gives the length of string1
                   #that is 6(p-1,y-2,t-3,h-4,o-5,n-6)

6

# 6. concatination(addition of two strings)

In [5]:
string1='python'

string2='language'     #we assigned two strings 
                        #string1 with 'python' and string2 with 'language'
string1+string2         #here we did addition of two strings 
                         #then we got answer as 'pythonlanguage'

'pythonlanguage'

# 7. Multiplication

In [6]:
string1='abc'
string2='efg'     #we assigned two strings with 'abc' and 'efg'
string1*string2   # we have done the multiplication of string1 and string2  
                # we got the TypeError, means we can not multiply non-int type 
                  #so we can't multiply strings

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
string1='abc'     # we assigned string 'abc' n string1
string2=3         #we assigned  value 3 in string2 
string1*string2   #here we multiplied string with integer type 
                    #the answer is 'abc abc abc'
                   # string1 is repeated  by 3 times
                   # In  this case multiplication is possible

'abcabcabc'

# 8.subtraction

In [1]:
str1='python'      #we assigned str1 with python
str2='language'     #weassigned str2 with language
str1-str2            #addition of str1 and str2
                     #got TypeError
                      #we can't subtract string data type

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# 9.division

In [2]:
str1='123'         
str2='456'
str1/str2      #division of str1 and str2
               #we got TypeError -unsupported operand type for '/'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# 10.in operator(for loop)

In [4]:
string1='python'  #we assigned 'python ' in string1
'p' in string1    # here 'in' oerator is used 
                  # if 'p' in string1 it gives True otherwise it gives false
'y' in string1    #True
't' in string1    #True
'h' in string1     #True
'n' in string1      #True
                    #letter by letter checking is not possible in all cases
                    # so we have to use generalised expression.
        
for i in string1:   # 'in' operator used for only strings
    print(i)        #to print letters we use 'in' operator

p
y
t
h
o
n

# 11.index

In [9]:
string1='python'      # p y t h o n
                       # 0 1 2 3 4 5 ---these are index of 'python'
string1[0] #--'p'       #in 0 index we have 'p'
string1[1] #--'y'
string1[2] #--'t'
string1[3] #--'h'
string1[4] #---'o'
string1[5] #--'n'    
                      #the generalised expression  is used to overcom this 

for i in range(6):     #we used "range"operator ,it takes numeric only
    print(i,string1[i])
                       #range used to print letters and index of given string

0 p
1 y
2 t
3 h
4 o
5 n

In [10]:
for i in range(len(string1)): # len(string1) returns length of string 
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n

#--'in' operator used to print letters
#--'in' ----takes only string
#--'range' operator used to print letters and index
#--'range' takes numeric 
#--python takes initial value 0

# mutable condition

In [1]:
string1='python'    #we assigned string1 with python
string1             #print the string1

'python'

In [2]:
string1[0]='P'    #changing 'p' value with 'P' in 0 index of string1
string1           # we got Type Error 
                   # we can not change the value of string1
                   #so strings are immutable

TypeError: 'str' object does not support item assignment

# slice

In [ ]:
string1="string is a data type"    #assigned string
string1[start:stop:direction]      #syntax of slice
string1[: :]            #nothing mention means it takes start and last letter
                         #  and 1 step forward and positive direction

In [7]:
string1='hai how are you'
string1[2:10:3]    #start value-2
                   #stop value 10-1
                    #positive direction and 3 steps

'ioa'

In [8]:
string1='hai how are you'
string1[2:10:-3]  #start value-2
                   #stop value 10+1
                    #negative direction and 3 steps
                   # it is not possible

''

In [9]:
string1='hai how are you'
string1[2:-10:3]  #start value-2
                   #stop value -10-1
                    #positive direction and 3 steps

'i'

In [10]:
string1='hai how are you'
string1[2:-10:-3]
               #start value-2
                #stop value -10+1
                 #negative direction and 3 steps
               # not possible

''

In [11]:
string1='hai how are you'
string1[-2:-10:-3] 
                    #start value is -2
                    #stop value is -10+1
                    #negative direction and 3 steps

'oe '

In [12]:
string1='hai how are you'
string1[-2:10:3]       #start value is -2
                        #stop value 10-1
                        #positive direction and 3 steps
                        # notpossible

''

In [13]:
string1='hai how are you'
string1[-2:-10:3]  #start value is -2
                   #stop value -10-1
                   #positive direction and 3 steps
                    #not possible

''

In [14]:
string1='hai how are you'
string1[-2:10:-3]  #start value is-2
                    #stop value -10+1
                    #positive direction and 3 steps

'o'

# string methods
# capitalize

In [1]:
str1='python'
str1.capitalize() #here we capitalize the string1,
                   #we get the output as 'Python' instead of 'python'
                   #output started with capital letter

'Python'

# uppercase

In [2]:
str1='python'  #we assigned lowercase string.
str1.upper()  # by using upper() ,we can convert string into uppercase 
              #i.e lower to uppercase

'PYTHON'

# lowercase

In [3]:
str1='PYTHON'  # assigned strng in uppercase
str1.lower()  # by using lower() ,we can convert string into lowercase 
              #i.e uppercase to  lower

'python'

# casefold
-  it converts every letter into lowercase

In [4]:
str1='LowerCase'  #assigned 'L' and 'C' in capital remaining are lowercase
str1.casefold()    #casefold converts all letters into lowercase

'lowercase'

# Index
-  Index method print the index of given letters in string
-  if substring not found it gives error

In [5]:
str1="welcome python"  #assigned string with str1
str1.index('o')        #by using index(),finding index of 'o'
                        #it given only first index of 'o'.

4

In [23]:
str1='welcome python'
str1.index('o',str1.index('o')+1) #it give second repeated letter 'o ' index

12

# find()
-  this method is used to find the index of given letter or string
-  if substring not found it returns -1

str1="welcome python"
str1.find('c')    #findout the index of 'c' that is '3'

In [13]:
str1.find('a')   # a is out of string ,so returns -1

-1

# count()

In [14]:
str1='hai how are you'    #assigned hai how are you with str1.
str1.count('h')           # counting how many number of 'h' are there ---  #2

2

In [15]:
str1.count(' ')  #counting number of spaces ----#3

3

# replace()
-  replace() is used to replace the given letter.

In [16]:
str1='welcome'
str1.replace('e','#')  #replaced 'e with '#' output is -----w#lcom#

'w#lcom#'

In [17]:
str1.replace('e','#',1)  # it replace only  first letter 'e'

'w#lcome'

In [18]:
str1.replace('e','#',-1)   # -1 means it replace all occurences of 'e' with '#'

'w#lcom#'

# strip-lstrip-rstrip

In [25]:
str1=' hai how are you '   #given spaces before and end of string
str2=' hai how are you'    #given space onlyin leftside
str3='hai how are you '   # in this rightside space is there
print(str1.strip())        # strip removes bothside spacesof string
print(str2.lstrip())         #lstrip removes space on leftside of string
print(str3.rstrip())       # rstrip removes space on rightside of given strinh

hai how are you
hai how are you
hai how are you

# startswith-endswith

In [29]:
str1='hai how are you'
str1.startswith('hai')  # string starts with 'hai'
str1.startswith('h')     # string startswith 'h'

True

In [30]:
str1.endswith('you')  # string endswith you

True

# isalpha-isnumeric-isalnum

In [33]:
str1='123'     
str1.isalpha()    #'123 is not alphabetic string ,so false'
str1.isnumeric()   #'123' is numeric ----- True
str1.isalnum()     #'123' is numeric----True

True

In [36]:
str1='abcd'     
str1.isalpha()    #abcd  is  alphabetic string ,so True'
str1.isnumeric()   #'abcd' is not numeric so----False
str1.isalnum()     #'abcd' is alphabet  so---True

True

In [40]:
str1='12ab'
str1.isalpha()      #false
str1.isnumeric()     #false
str1.isalnum()        #True  -----string is alphabet and numeric

True

# split

In [41]:
str1='hai how are you'
str1.split()   #we are not providing anything inside bracket means :space

['hai', 'how', 'are', 'you']

In [43]:
str1='hai hoe ,are you'
str1.split(',')  #split string where ',' is there

['hai hoe ', 'are you']

In [44]:
str1='hai how, are you'
str1.split('a') split stirng where 'a' is there

['h', 'i how, ', 're you']