In [2]:
basic_sal=eval(input("enter basic salary"))
da_amount=eval(input("enter da amount"))
hra_amn=eval(input("enter hra amount"))
total_pay=basic_sal+da_amount+hra_amn
print("total payment",total_pay)

enter basic salary30000
enter da amount50000
enter hra amount10000
total payment 90000

In [3]:
# 2nd program
sal=eval(input("enter salary"))
percentage=eval(input("enter per"))
tax=(sal*percentage)/100
print("tax user need to pay",tax)

enter salary20000
enter per10
tax user need to pay 2000.0

In [6]:
#random number
import random
num=random.randint(1,100)
square=num*num
print("square of {} is {}".format(num,square))

square of 65 is 4225

In [5]:
random.randint(1,100)

85

In [7]:
dis=eval(input("enter distance"))
rate=eval(input("enter rate per distance"))
toatal_charge=dis*rate
print("the total ncharge is",toatal_charge)

enter distance20
enter rate per distance5
the total ncharge is 100

In [10]:
import time
bill=eval(input("enter toatal bill in dollers"))
time.sleep(2)
print("manager:the dollers are not accepted")
time.sleep(2)
print("user:what will accepted")
time.sleep(2)
print("manager:only in indian rupees")
time.sleep(2)
doll=eval(input("one doller equal to"))
time.sleep(2)
totalbill=bill*doll
time.sleep(2)
print("the totalbill {} is".format(totalbill))
time.sleep(2)
print("manager:thank you")

enter toatal bill in dollers200
manager:the dollers are not accepted
user:what will accepted
manager:only in indian rupees
one doller equal to80
the totalbill 16000 is
manager:thank you

In [11]:
bill=eval(input("enter toatal bill in dollers"))
input("manager response")
input("user response")
input("manager response")
doll=eval(input("one doller equal to "))
totalbill=bill*doll
print("the totalbill {} is".format(totalbill))

enter toatal bill in dollers100
manager responsedollers not accepted
user responsewhat will accepted
manager responseindian rupees
one doller equal to 80
the totalbill 8000 is

In [12]:
input("father")
input("daughter")
input("father")
input("father")
rank=eval(input("jee rank"))
input("father:")
input("daughter:")
input("father")
college=str(input("college name"))
input("father:")
fee=eval(input("fee is"))
input("father:")
sem=eval(input("sems are"))
input("father:")
totalamont=fee*sem
print("total amont is{}: ".format(totalamont))

fatherwhich course you want to do
daughteri want to pursue ds course
fatheroh! that is very nice
fathermay i know your jee rank
jee rank200000
fatherthen how can u pursue
daughterpayment seat
fatherwhich college is offer
college namenaresh it
fatherhow much is the fee
fee is20000
fatherhow many sem
sems are4
fatherhow much total
total amont is80000