In [1]:
# append
list1=[]
list1.append(200)
list1

[200]

In [1]:
list1=[10,20]
list1.append(30)
list1

[10, 20, 30]

In [2]:
list1=[10,20]
list1.append(30,23)
list1

TypeError: list.append() takes exactly one argument (2 given)

In [3]:
# appending list
list1=[10,20]
list1.append([30,25])
list1

[10, 20, [30, 25]]

In [4]:
list1=[10,20]
list1.append('rani')
list1

[10, 20, 'rani']

In [2]:
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [5]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
    
list2

[1, 4, 9, 16, 25]

In [5]:
list1=['hyd','sec','krm']
for i in list1:
    print(i)

hyd
sec
krm

In [6]:
list1=['hyd','sec','krm']
for i in list1:
    print(i.capitalize())

Hyd
Sec
Krm

In [7]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
    
list2

['Hyd', 'Bengaluru', 'Delhi']

In [8]:
list3=['h#d','beng#luru','delhi']
list2=[]
for i in list3:
    if '#' in i:
        print(i)

h#d
beng#luru

In [9]:
list3=['h#d','beng#luru','delhi']
list2=[]
for i in list3:
    if '#' in i:
        list2.append(i)
list2

['h#d', 'beng#luru']

# list comprehension

In [10]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    list2.append(i*i)
    
list2

[1, 4, 9, 16, 25]

In [12]:
list1=[1,2,3,4,5]
output=[i*i for i in list1]
output

[1, 4, 9, 16, 25]

In [13]:
list1=['hyd','bengaluru','delhi']
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Bengaluru', 'Delhi']

In [14]:
#method-1
output=[i for i in range(1,21)]
output

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
output=[]
for i in range(1,21):
    output.append(i)
    
output

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# list comprehension with if condition

In [1]:
list3=['h#d','beng#luru','delhi']
list2=[i for i in list3 if '#' in i]
list2

['h#d', 'beng#luru']

In [2]:
list4=['abcd','abc','ab','a']
list5=[i for i in list4 if len(i)<3]
list5

['ab', 'a']

# if else in list comprehention

In [3]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
        
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [4]:
list1=[1,2,3,4,5]
output=["even:{}".format(i) if i%2==0 else "odd :{}".format(i) for i in list1]
output

['odd :1', 'even:2', 'odd :3', 'even:4', 'odd :5']

# count

In [10]:
list1=[1,1,1,23,4,5,'A','B','C','C']
list1.count(1)
list1.count('C')

2

# Extend

In [11]:
list1=[1,2,3,4]
list2=['a','b','c']
list1.extend(list2)
list1

[1, 2, 3, 4, 'a', 'b', 'c']

In [12]:
list1=[1,2,3,4]
list2=['a','b','c']
list1.append(list2)
list1

[1, 2, 3, 4, ['a', 'b', 'c']]

In [13]:
reversed('python')

In [15]:
val=reversed('python')
val

In [16]:
val=reversed('python')
for i in val:
    print(i)

n
o
h
t
y
p

In [20]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

# pop-remove-del

In [21]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [22]:
list1.pop(6)

'h'

In [23]:
list1

[1, 2, 3, 'p', 'y', 't', 'o', 'n', 'python']

In [25]:
list1=[100,200,100,300]
list1.remove(100)
list1

[200, 100, 300]

In [28]:
del list1[2]
list1

[200, 100]

In [29]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [41]:
# index
list1=[1,2,3,4,5]
list1.index(2)    #it prints index of list elements
                 #index(1)-0 ,index(3)--2

1

In [84]:
list1.index(3,'a')

TypeError: slice indices must be integers or have an __index__ method

In [47]:
# insert
list1=['a','b','c']
list1.insert(3,'d')   # insert takes two arguments  3 is index, 'd' is value
list1                   #'d ' added in index of 3
                         #insert add values where ever we want to insert in list

['a', 'b', 'c', 'd']

In [55]:
list1=[1,2,3,4]
list1.insert(0,'hai')
list1

['hai', 1, 2, 3, 4]

In [56]:
#append
list1=[1,2,3,4]
list1.append('python')  # append add values at the end of list
list1

[1, 2, 3, 4, 'python']

In [61]:
#reverse
list1=['A','B','C','D']
val=reversed('people')  #it reverse the string
for i in val:
    print(i)

e
l
p
o
e
p

In [65]:
#reverse
list1=['A','B','C','D']
val=reversed(list1)    #it reverse the list and iterate the list using for loop
for i in val:
    print(i)

D
C
B
A

In [81]:
#sort
list1=['e','r','f','t']
sorted('india')    #it sorts the string  in alphbetical order
                   # it takes only one argument

['a', 'd', 'i', 'i', 'n']

In [79]:
sorted(list1)  #it sorts list according to alphabetical oder

['e', 'f', 'r', 't']

In [82]:
sorted('india','map')

TypeError: sorted expected 1 argument, got 2

In [83]:
sorted('india',list1)

TypeError: sorted expected 1 argument, got 2