In [1]:
### Dictionary ####
d1={'ram':25,
    'study':30,     #key is string type ,value is integer type
    'place':35}
d1

{'ram': 25, 'study': 30, 'place': 35}

In [2]:
d1={25:'ram',     # keys are integer type and values are string type 
    30:'raheem',
    35:'robert',}
d1

{25: 'ram', 30: 'raheem', 35: 'robert'}

In [3]:
d3={'even':[6,2,4],'odd':[1,3,5]}  #keys are string data type and values are list
d3

{'even': [6, 2, 4], 'odd': [1, 3, 5]}

In [4]:
d4={[2,4,6]:'even',[1,3,5]:'odd'} 
d4    # keys are list type and values are string type
       # keys are not accepting list type

TypeError: unhashable type: 'list'

In [5]:
d4={(2,4,6):'even',(1,3,5):'odd'} 
d4    # keys are tuple  type and values are string type
       # keys not accept list but accept tuple type

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [7]:
d5={'item_list':{'fruit':'apple'}} #key is string ,value is dictionary
d5

{'item_list': {'fruit': 'apple'}}

In [8]:
d6={{'fruit':'apple'}:'item_list'}
d6    # keys are not accepting dictionary

TypeError: unhashable type: 'dict'

In [10]:
a=[1,2]   #list  assigned in varable 'a'
a         #output is [1,2]

[1, 2]

In [12]:
a=(1,2)     # tuple assigned in variable in 'a'
a           #output is (1,2)

(1, 2)

In [15]:
a,b=[1,2]    #1 is stored in 'a',2 is stored in 'b'
a
b

2

In [20]:
a,b=(1,2)   
a       # a =1,b=2
b

2

In [21]:
a=1,2
a        #a=(1,2)

(1, 2)

In [24]:
d1={'A':1,'B':2,'A':1}
d1     # DUPLICATES WILL NOT WORK

{'A': 1, 'B': 2}

In [25]:
d1={'A':1,'B':2,'A':3}
d1     # 'A' stored with latest value

{'A': 3, 'B': 2}

# type()

In [27]:
type(d1)

dict

In [12]:
dic1={}
l1=[]
l2=[]
import random
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        l1.append(num)
        
    else:
         l2.append(num)
            
dic1['even']=l1
        
dic1['odd']=l2
        
dic1

{'even': [6, 4], 'odd': [7, 3, 1]}

In [31]:
### Dictionary ####
d1={'ram':25,
    'study':30,     # 's is max'-------ascivalue is high
    'place':35}
max(d1)   #max is 'study'
min(d1)   #min is 'place'
len(d1)    # length is '3', it has '3'-key pairs
sum(d1)     #typeError--- data type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
d2={1:2,3:4}
d2        #output is {1:2,3:4}
max(d2)   # max is '3'--based on key value
min(d2)   # min is '1'
len(d2)   # d2 len is '2'bcz 2 pairs are there
sum(d2)   # addition of keys 1+3=4

4

In [37]:
d2={100:2,200:3}
sum(d2)    #100+200

300

In [38]:
'a'-'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
'a'/'b'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [40]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

# in operator

In [41]:
### Dictionary ####
d1={'ram':25,
    'study':30,     # key is imp
    'place':35}
'ram':25 in d1

SyntaxError: illegal target for annotation (3348683657.py, line 5)

In [42]:
'ram' in d1  # 'ram' is key ,based on key predict output

True

In [43]:
25 ind1    #false ,it is not key

SyntaxError: invalid syntax (1954532391.py, line 1)

In [46]:
### Dictionary ####
d1={'ram':25,
    'study':30,     # key is imp
    'place':35}

for i in d1:   # using for loop print all keys
    print(i)

ram
study
place

# index

In [1]:
### Dictionary ####
d1={'ram':25,
    'study':30,     # key is imp
    'place':35}
d1['ram']

25

In [2]:
### Dictionary ####
d1={'ram':25,
    'study':30,     # key is imp
    'place':35}
for i in d1:
    print(i,d1[i])

ram 25
study 30
place 35

In [3]:
for i in range(len(d1)):
    print(i,d1[i])

KeyError: 0

#  creating a empty dictionary and update

In [6]:
#string
s1=''
str1='nagarani'
for i in str1:
     s1=s1+i
s1

'nagarani'

In [8]:
#list
#list comprehension
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l=[]
for i in range(9):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
d1={}
d1['fruit']='apple'  #updating dictionary
d1

{'fruit': 'apple'}

In [12]:
# wap create a database name,study,place,age
d1={}
d1['Name']='Rani'
d1['study']='b.tech'
d1['place']='hyderabad'
d1['age']='33'
d1

{'Name': 'Rani', 'study': 'b.tech', 'place': 'hyderabad', 'age': '33'}

In [15]:
d1={}
names=['Ram','Raheem','Robert']
ages=[23,34,45]
for i in range(len(names)):
    d1[names[i]]=ages[i]
    
d1

{'Ram': 23, 'Raheem': 34, 'Robert': 45}

In [18]:
#dictionary  comprehension
d1={names[i]:ages[i] for i in range(len(names))}
d1

{'Ram': 23, 'Raheem': 34, 'Robert': 45}

In [21]:
#using zip
d1={name:age for name,age in zip(names,ages)}
d1

{'Ram': 23, 'Raheem': 34, 'Robert': 45}

In [22]:
d1={}
names=['Ram','Raheem','Robert']
ages=[23,34,45]
for i,j in zip(names,ages):
    d1[i]=j
    
d1

{'Ram': 23, 'Raheem': 34, 'Robert': 45}

In [24]:
#wap take 5 random numbers
#create a d1={} with even and odd
#output:{'even':[2,4],'odd':[1,3,5]}
import random
d1={}
even=[]
odd=[]
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
        
d1['even']=even
d1['odd']=odd
d1

{'even': [2, 10, 4, 4], 'odd': [1]}