In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [3]:
type(list1)

list

In [4]:
max(list1)

4

In [5]:
min(list1)

1

In [6]:
len(list1)

4

In [16]:
sum(list1)

10

In [21]:
eval(list1)

TypeError: eval() arg 1 must be a string, bytes or code object

In [22]:
range(list1)

TypeError: 'list' object cannot be interpreted as an integer

In [2]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [7]:
type(list2)

list

In [8]:
max(list2)

'D'

In [9]:
min(list2)

'A'

In [10]:
len(list2)

4

In [17]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
eval(list2)

TypeError: eval() arg 1 must be a string, bytes or code object

In [11]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [12]:
type(list3)

list

In [13]:
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [15]:
len(list3)

8

In [18]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
eval(list3)

TypeError: eval() arg 1 must be a string, bytes or code object

In [23]:
list4=[1,'Apple',10.6,5+4j,True]
list4

[1, 'Apple', 10.6, (5+4j), True]

In [24]:
type(list4)

list

In [25]:
max(list4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
min(list4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
len(list4)

5

In [28]:
sum(list4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
list5=[10,10,10]
list5

[10, 10, 10]

In [30]:
type(list5)

list

In [31]:
max(list5)

10

In [32]:
min(list5)

10

In [33]:
len(list5)

3

In [34]:
sum(list5)

30

In [35]:
eval(list5)

TypeError: eval() arg 1 must be a string, bytes or code object

In [36]:
range(list5)

TypeError: 'list' object cannot be interpreted as an integer

In [37]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

In [38]:
type(list6)

list

# in operator

In [41]:
1 in list1
2 in list1
3 in list1
4 in list1

True

In [42]:
for i in list1:
    print(i)

1
2
3
4

In [43]:
for i in list1:
    print(list1)

2
3
4

IndexError: list index out of range

In [44]:
new_list=list1+list2
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [45]:
new_list1=list2+list1
new_list1

['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [46]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [47]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [48]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
list1[0],list1[1],list1[2],list1[3]

(1, 2, 3, 4)

In [51]:
for i in range(len(list1)):
    print(list1[i]")

list[i]
list[i]
list[i]
list[i]

In [14]:
list11=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list11)):
        if len(list11[i])<3:
           print(list11[i])

Ab
Cd
Ef

In [20]:
list11=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list11:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [22]:
list11=['App#e','B#ll','C#t','Ab','Cd','Ef']

count=0
for i in list11:
    if '#' in i:
        print(i)
        count=count+1
print(count)

App#e
B#ll
C#t
3

In [28]:
list12=[1,2,3,['Apple','Ball']]
list12[3][1]

'Ball'

In [36]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [37]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

In [39]:
#mutable
list1=['r','a','n','i']
list1[0]='p'
list1

['p', 'a', 'n', 'i']