# tuple writeup

   -tuple is a pre-defined class and treated as list data type.
   -tuple is an ordered collection of elements either of same type or different type or both types with unique and duplicate.
   -the elements of tuple must be stored within braces () the elements must separated by comma.

#  -Empty tuple:-
    - An empty tuple does not contain any elements and length is 0

In [1]:
tuple1=()

In [2]:
len(tuple1)

0

# Non empty tuple:
   -A non empty tuple contains elements and length is >0

In [3]:
tuple1=(1,'a',True,5+8j,5.5)      #elements belongs to different data types
tuple1

(1, 'a', True, (5+8j), 5.5)

In [4]:
tuple1=(1,'a',True,5+8j,5.5,1,'a')    # duplicates allowed in tuple
tuple1

(1, 'a', True, (5+8j), 5.5, 1, 'a')

In [6]:
tupl1=(1,2,3,4)        # elements belong to same data type
tupl1

(1, 2, 3, 4)

#  max()
   - max() gives the maximum  element of the tuple

In [7]:
tupl1=(1,2,3,4)        # maximum value of tuple
max(tupl1)

4

# min()
   - min() gives the minimum value of the tuple.

In [8]:
tupl1=(1,2,3,4)     #minimum value of tuple
min(tupl1)

1

# type
  -it gives the  type of the tuple

In [9]:
type(tupl1)     #type is one of the data types

tuple

# sum

In [11]:
tuple1=(1,'a',True,5+8j,5.5)      # addition of two  tuples 
tuple2=(1,2,3,4)
tuple1+tuple2

(1, 'a', True, (5+8j), 5.5, 1, 2, 3, 4)

In [12]:
tuple1=(1,'a',True,5+8j,5.5)      # subtraction of two  tuples  is not possible
tuple2=(1,2,3,4)
tuple1-tuple2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [13]:
tuple1=(1,'a',True,5+8j,5.5)      # multiplication of two  tuples is not possible
tuple2=(1,2,3,4)
tuple1*tuple2

TypeError: can't multiply sequence by non-int of type 'tuple'

#  -tuple contains two pre-defined functions 
    1.index
    2.count
    
    NOTE:tuple belongs to immutable so it does not contain folling methods.
      -append()
      -insert()
      -remove()
      -pop()
      -pop(index)
      -copy()
      -clear()
      -reverse()
      -sort()
      -extend()

# index
   - it prints the index of specific element

In [16]:
tuple1=(1,'a',True,5+8j,5.5)      # prints the index of specific elements
tuple1.index('a')

1

# count
   it prints the number of occurences of specific elements.

In [34]:
tuple1=(10,20,30,20,20,20)     # 20 repeated for 4 times
tuple1.count(20)               #count the number of occurences

4

# slice
  -it prints the elements according to slice [start value:stop value-1:moving steps]

In [23]:
tuple1=(1,'a',True,5+8j,5.5)      # prints the element between indexs of 0 and 3-1
tuple1[0:3]

(1, 'a', True)

In [26]:
tuple1=(1,'a',True,5+8j,5.5)      # prints the elements from index of 0 to 4 by 2 steps
tuple1[0:4:2]

(1, True)

# Mutable
   - mutable means changing the  value of particular index.
   -but tuple is  not mutable 
   -it is immutable.
   -we can not change values.

In [27]:
tuple1=(1,'a',True,5+8j,5.5)      # we can not change the value
tuple1[1]='tuple'
tuple1

TypeError: 'tuple' object does not support item assignment

# in operator

In [29]:
tuple1=(1,'a',True,5+8j,5.5)      # if 'a' in tuple1 prints True,otherwise  False
'a' in tuple1

True

In [30]:
'b' in tuple1

False

# for loop
   -we can iterate the tuple by using for loop

In [31]:
tuple1=(1,'a',True,5+8j,5.5)      # iterate the sequence of tuple through for loop
for i in tuple1:
    print(i)

1
a
True
(5+8j)
5.5